@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.menu {
  height: 6rem;
  background-color: white;
  font-size: $font-size-content;
  text-align: center;

  @include no-select;

  display: flex;

  &__item {
    padding-top: 1rem;
    flex-grow: 1;

    img {
      width: 1.6rem;
      height: 1.6rem;
    }

    &:hover {
      background-color: $color-yellow;
      color: white;

      img {
        @include filter-white;
      }
    }
  }

  .tooltip {

    &__tip {
      top: 7rem;
      left: -1.3rem;
    }
  }
}
